# Java
target/
*.jar
*.class
.idea/
*.iml
.mvn/wrapper/maven-wrapper.jar

# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/
.pytest_cache/
htmlcov/
.coverage

# Angular / Node
node_modules/
dist/
.angular/

# Docker
docker/data/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Environment
.env
.env.prod
*.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# tmp md
docs/tmp